include ./_textForm-header/textForm-header

mixin inputTextForm(options)
	-
		var inputClassName = "input"
		inputClassName += options.isFocus ? " input--active" : ""
		inputClassName += options.isDropdown ? " dropdown-input material-icons" : ""
		inputClassName += options.isButton ? " input-button" : ""
		inputClassName += options.isDateDropdown ? " input-date-dropdown datepicker-here material-icons" : ""
		inputClassName += options.isFilterDateDropdown ? " input-filter-date-dropdown datepicker-here material-icons" : ""
		inputClassName += options.isSubscribe ? " input-subscribe material-icons" : ""
	.text-form
		if (options.isDateDropdownActive)
			.datepicker-here(data-clear-button= "true" data-range="true" data-prev-html="<span>arrow_back</span>" data-next-html="<span>arrow_forward</span>")
		else
			+HeaderTextForm({title: options.title, text: options.text})
			if (options.isDateDropdown)
				input(class=inputClassName type=text placeholder=options.placeholder data-select-other-years= "false" data-clear-button= "true" data-prev-html="<span>arrow_back</span>" data-next-html="<span>arrow_forward</span>")
			else
				input(class=inputClassName type=options.type placeholder=options.placeholder)