include ./_textForm-header/textForm-header

mixin inputTextForm(options)
	-
		let inputClassName = 'text-form__input'
		inputClassName += options.isFocus ? ' input--active' : ''
		inputClassName += options.isDropdown ? ' js-dropdown-selection' : ''
		inputClassName += options.isDateDropdown ? ' input--date-dropdown' : ''
		inputClassName += options.isFilterDateDropdown ? ' input--filter' : ''
		inputClassName += options.isSubscribe ? ' input--subscribe' : ''
		let buttonClassName = 'material-icons '
		buttonClassName += options.isDropdown || options.isDateDropdown ? 'input__button--expand' : ''
		buttonClassName += options.isSubscribe ? 'input__buttons--arrow' : ''
	if (options.isDateDropdownActive)
		.datepicker-here(data-clear-button='true' data-range='true' data-prev-html='<span>arrow_back</span>' data-next-html='<span>arrow_forward</span>')
	else 
		form.text-form
			+HeaderTextForm({title: options.title, text: options.text})
			if (options.isDateDropdown)
				div(class=inputClassName)
					input(class='datepicker-here' type="text" placeholder=options.placeholder data-select-other-years='false' data-clear-button='true' data-prev-html='<span>arrow_back</span>' data-next-html='<span>arrow_forward</span>')
					i(class=buttonClassName) expand_more
			else if (options.isFilterDateDropdown)
				div(class=inputClassName)
					input(class='datepicker-here' type="text" placeholder=options.placeholder data-range="true" data-multiple-dates-separator=" - " data-select-other-years='false' data-clear-button='true' data-prev-html='<span>arrow_back</span>' data-next-html='<span>arrow_forward</span>')
					i(class=buttonClassName) expand_more
			else if (options.isDropdown)
				div(class=inputClassName)
					input(class= 'js-dropdown-input' type="text" placeholder=options.placeholder)
					i(class=buttonClassName) expand_more
			else
				if (options.isSubscribe)
					div(class=inputClassName)
						input(type='email' placeholder=options.placeholder)
						i(class=buttonClassName) arrow_forward
				else
					div(class=inputClassName)
						input(type="text" placeholder=options.placeholder)