mixin checkbox(options)
	-
		var inputCheckboxClassName = "checkbox-button__input"
		inputCheckboxClassName += options.isActive ? " checkbox--active" : ""
		inputCheckboxClassName += options.isRich ? " checkbox-rich" : ""
	.checkbox-button
		label(class="checkbox-button__label")
			if (options.isActive)
				input(class=inputCheckboxClassName type="checkbox" value=options.value checked )
			else
				input(class=inputCheckboxClassName type="checkbox" value=options.value)
			span(class="checkbox-button__fake")
			if (options.isRich)
				.checkbox-button__body
					span(class="checkbox-button__title font-level-body")=options.title
					span(class="checkbox-button__text-small font-level-body")=options.text
			else 
				span(class="checkbox-button__text font-level-body")=options.text